{% extends 'index.html' %}
{% block title %}All Bills | {% endblock title %}
{% block body %}

<style>
    .css-serial {
        counter-reset: serial-number;
        margin: 20px;
        /* Set the serial number counter to 0 */
    }

    .css-serial td:first-child:before {
        counter-increment: serial-number;
        /* Increment the serial number counter */
        content: counter(serial-number);
        /* Display the counter */
    }
    a{
        text-decoration: none;
    }

    td,
    th {
        padding: 20px;
    }

    h3 {
        text-align: center;
    }

    .modal-title {
        color: red;
    }
</style>


<table class="css-serial">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer ID</th>


        </tr>
    </thead>
    <tbody>
        {% for i in all_billdata %}

        <tr>
            <!--intentionally left blank-->
            <td></td>
            <td><a  href="vieww/{{ i.id }}"><b>{{i.cus_id }} </b></a></td>
            <td> <a type="button" href="dvieww/{{ i.id }}" class="btn btn-outline-danger">Delete Permanently</a>

            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>




{% endblock body %}