{% extends 'index.html' %}
{% block title %}Bill | {% endblock title %}
{% block body %}

<link rel="stylesheet" href="/static/css/bill.css">


<div class="box" id="box">
    <h3>DNA</h3>
    <hr>
    <b>
        <form class="prints" method="post" action="{% url 'prints' %}">
            {% csrf_token %}
        <div class="profile">
            <div class="bleft">
                <div class="mb-3">
                    Name : <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your name here" name="bname">
                </div>
                <div class="mb-3">
                    Phone : <input type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your phone number here"  name="bphone">
                </div>
                <div class="mb-3">
                    Email : <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your email here" name="bemail">
                </div>
            </div>
            <div class="bright">
                <div class="mb-3">
                    Date : <input type="text" class="form-control" id="exampleFormControlInput3" name="date"
                        value="{{today.day}}-{{today.month}}-{{today.year}}" disabled>
                </div>
                <div class="mb-3">
                    Customer ID : <input type="number" class="form-control" id="exampleFormControlInput2" name="cid"
                        value="{{listtostr}}" disabled>
                </div>
            </div>
        </div>

    </b>
    <hr>
    <table border="1px" class="table">
        <tr>
            <th>Ornaments Name</th>
            <th>Gold Price</th>
            <th>Item Weight</th>
            <th>Labour charge</th>
            <th>Total</th>


        </tr>
        {% for i in bdata %}
        <tr>
            <td>{{i.sel}}</td>
            <td>{{i.price}}</td>
            <td>{{i.weight}}</td>
            <td>{{i.labour}}</td>
            <td>{{i.total}}</td>

        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td> <b> Sub Total :</b> </td>
            <td align="left"><b> {{gtotal.gtotaldata}} </b></td>

        </tr>
        <tr>
            <td colspan="3"></td>
            <td> <b> Tax (3%) :</b> </td>
            <td align="left"><b> {{i3}} </b></td>

        </tr>
        <tr>
            <td colspan="3"></td>
            <td> <b>Grand Total :</b> </td>
            <td align="left"><b> {{grandtotal}} </b></td>

        </tr>
    </table>
    <p>* Labour charges are 400 Rupees per 1 Gram </p>
    <p>** T & C Apply</p>
  
</div>

    <input type="submit" class="btn btn-outline-success" value="Save & Print!"  id="printbtn">
    
</form>


<script>
const printbtn = document.getElementById('printbtn');
 

    printbtn.addEventListener('click', () => {

      printbtn.style.visibility = 'hidden';
      window.print()
      f1()
     
    });

    var tmp;
    function f1() {
        // 1000 is 1 second
      tmp = setTimeout("callitrept()", 100);
    }
    function callitrept() {
      printbtn.style.visibility="visible"
    }
</script>



{% endblock body %}