<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <div id="box" style="
        height: 100px;
        width: 100px;
        background-color: salmon;
        display: none;
      ">
    Box
  </div>
  <button id="btn">Click me</button>

  <script>const btn = document.getElementById('btn');

    btn.addEventListener('click', () => {
      // 👇️ hide button
      btn.style.display = 'none';

      // 👇️ show div
      const box = document.getElementById('box');
      box.style.display = 'block';
    });</script>
</body>

</html>




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
</head>

<body onload="f1()">
  <div id="box" style="
        height: 100px;
        width: 100px;
        background-color: salmon;
        display: none;
      ">
    Box
  </div>
  <button id="btn">Click me</button>

  <script>const btn = document.getElementById('btn');
    var tmp;
    function f1() {
      tmp = setTimeout("callitrept()", 2000);
    }
    function callitrept() {
      document.getElementById("btn").click();
    }

    btn.addEventListener('click', () => {
      // 👇️ hide button
      btn.style.display = 'none';

      // 👇️ show div
      const box = document.getElementById('box');
      box.style.display = 'block';
    });</script>
</body>

</html> -->

{% comment %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <button onclick="newfun()" id="newbtn">NEW!!!</button>
  <a href="https://wa.me" >whatsapp</a>
  <button onclick="hii()">file</button>
  <script>
    newbtn = document.getElementById('newbtn')
  
    
    function newfun() {
      // newbtn.innerHTML = '<a '+'href="https://wa.me">'+'whatsapp</a>'+'add anything you want!!';

      newbtn.innerHTML='  <a href="https://wa.me/9624222871?pdf=hiiheloo">whatsapp</a>'
      
    }
    function hii(){
      window.open('https:/wa.me')

    }
    
  </script>
</body>

</html> {% endcomment %}


