{% extends 'index.html' %}
{% block title %}View Bill | {% endblock title %}
{% block body %}

<style>
    #back{
        text-decoration: none;
        margin-left: 1200px;
        margin-top: 40px;
    }
</style>

<link rel="stylesheet" href="/static/css/bill.css">


<div class="box" id="box">
    <h3>DNA</h3>
    <hr>
    <b>
       
        <div class="profile">
            <div class="bleft">
                <div class="mb-3">
                    Name : <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your name here" name="bname" value="{{name}}" disabled>
                </div>
                <div class="mb-3">
                    Phone : <input type="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your phone number here"   value="{{phone}}" name="bphone" disabled>
                </div>
                <div class="mb-3">
                    Email : <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Enter your email here" value="{{email}}" name="bemail" disabled>
                </div>
            </div>
            <div class="bright">
                <div class="mb-3">
                    Date : <input type="text" class="form-control" id="exampleFormControlInput3" name="date"
                        value="{{date}}" disabled>
                </div>
                <div class="mb-3">
                    Customer ID : <input type="number" class="form-control" id="exampleFormControlInput2" name="cid"
                        value="{{cus_id}}" disabled>
                </div>
                <div class="mb-3">
                    Grandtotal : <input type="number" class="form-control" id="exampleFormControlInput2" name="cid"
                        value="{{grandtotal}}" disabled>
                </div>
            </div>
        </div>

    </b>
   
<a class="btn btn-outline-primary" id="back" href="{% url 'all_bills' %}">Back</a>
   
  
</div>




{% endblock body %}
