{% extends 'index.html' %}
{% block title %}Vocabs | {% endblock title %}
{% block body %}
<link rel="stylesheet" href="/static/css/vocabs.css">

<form class="frm" method="post" action="{% url 'vocab_check'%}">
    {% csrf_token %}


    <div class="mb-3">
        <input type="text"  class="form-control" id="germaninput" name="germaninput" value="{{random_dict}}" disabled>
    </div>

    <div class="mb-3">
        <input type="text"  class="form-control" id="englishinput" name="englishinput" required>
    </div>


    <input type="submit" class="btn btn-outline-success" id="check" value="Check">
</form>

<button  class="btn btn-outline-danger" id="hintbtn">Hint!</button> 

<div class="mb-3">

<input type="text"  class="form-control" id="hintkey" name="hintkey" value="{{random_dict}}" >
</div>
<div class="mb-3">

<input type="text"  class="form-control" id="hintvalue" name="hintvalue" value="{{value_dict}}" >
</div>

<script>
    const hintbtn = document.getElementById('hintbtn');
    const hintkey = document.getElementById('hintkey');
    const hintvalue = document.getElementById('hintvalue');
    hintkey.style.visibility="hidden"
    hintvalue.style.visibility="hidden"
    
        hintbtn.addEventListener('click', () => {
    
          hintkey.style.visibility = 'visible';
          hintvalue.style.visibility = 'visible';
          
          f1()
         
        });
    
        var tmp;
        function f1() {
            // 1000 is 1 second
          tmp = setTimeout("callitrept()", 2000);
        }
        function callitrept() {
          hintkey.style.visibility="hidden"
          hintvalue.style.visibility="hidden"

        }
    </script>

{% endblock body %}